.attribution {
  color: $very-dark-magenta;
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;

  @include respond-to($breakpoint-desktop) {
    bottom: 0;
    position: absolute;
  }

  &__link {
    font-weight: 700;
  }
}
