html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  align-items: center;
  background-color: $white;
  font-family: $font-name;
  @include flex-column();
  min-height: 100dvh;
  justify-content: flex-start;
}

.bg-image {
  display: block;
  position: fixed;
  height: initial;
  max-width: none;
  width: 100%;
  /* width: initial; */

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }
}

main {
  align-items: center;
  @include flex-column();
  flex: 1 1 auto;
  justify-content: center;
  padding: $space-82 $space-24 0;
  width: 100%;
}
