html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  align-items: center;
  background-color: $white;
  font-family: $font-name;
  @include flex-column();
  min-height: 100dvh;
  justify-content: flex-start;
  line-height: 1.2;
}

picture {
  width: 100%;
}

.bg-image {
  display: block;
  position: fixed;
  max-width: none;
  width: initial;
  z-index: -1;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
    right: 0;
  }
}

.container {
  @include flex-column($space-42);

  @include respond-to($breakpoint-desktop) {
    align-items: center;
    flex-direction: row;
    gap: 0 9.375rem;
  }
}

main {
  align-items: center;
  @include flex-column($space-48);
  flex: 1 1 auto;
  justify-content: center;
  max-width: 69.375rem;
  padding: $space-82 $space-24 0;
  width: 100%;

  @include respond-to($breakpoint-tablet) {
    padding-top: $space-32;
  }

  @include respond-to($breakpoint-desktop) {
    gap: $space-74;
    padding: 0;
  }
}
