// COLORS
// Primary
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// TYPOGRAPHY
$font-name: "League Spartan", sans-serif;
$font-size-54: 3.375rem;
$font-size-42: 2.625rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;

$letter-spacing--1_5: -1.5px;
$letter-spacing--1_2: -1.2px;
$letter-spacing--1_1: -1.1px;
$letter-spacing--0_5: -0.5px;
$letter-spacing-0_7: 0.7px;
$letter-spacing-0_4: 0.4px;
$letter-spacing-0_15: 0.15px;

// SPACING
$space-40: 2.5rem;
$space-38: 2.375rem;
$space-32: 2rem;
$space-30: 1.875rem;
$space-28: 1.75rem;
$space-26: 1.625rem;
$space-24: 1.5rem;
$space-20: 1.25rem;
$space-16: 1rem;
$space-14: 0.875rem;
$space-12: 0.75rem;

// BORDERS
$border-radius-8: 0.5rem;

// BREAKPOINTS
// $breakpoint: 46.25rem;
